*{
  font-family: 'Inter',sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
}
body{
  background-color: #cccccc;
}
h1{
  text-align: center;
  padding: 2rem;
}
.pointer{
  cursor: pointer;
}
.pointer:hover{
  transform: scale(.95);
  text-decoration: underline;
  color: #213547;;
  opacity: 0.7;
}
p{
  text-align: left;
}
.title{
  font-size: 1.15rem;
  /* color:#252727 */
}
hr {
  height: 3px;
  border: 0;
  box-shadow: 0 3px 3px -3px #cccc inset;
}
.bold{
  font-weight: bold;
}
.container{
  margin-inline: auto;
  padding-inline: .5rem;
  width: 95%;
  max-width: 600px;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.flex-row{
  display: flex;
}
.wrap{
  flex-wrap: wrap;
}
.App{
  font-size: .85rem;
  gap: 1rem;
  font-weight: 500;
}
.copy-item-container{
  padding-block: 1rem;
  background-color: #7375da;
  border-radius: .5rem;
  padding-inline: 1rem;
  gap:1rem;
  color:#d5e7e7;
  box-shadow: 0 4px 4px -4px #cccc inset;
}
.name{
  margin-bottom: .35rem;
}

label{
  margin-block-start: 1rem;
}
input{
  padding-block:.5rem;
}

.copy-container{
  justify-content: flex-start;
  align-content: center;
  gap:1rem;
}
.copy-container>*{
  margin-block: auto;
}
.copy-button{
  
  padding: 0.3em .8em;
  border: none;
  border-radius: 6px;
  background-color: #213547;
  color: whitesmoke;
  margin-left: 1rem;
}
button{
  padding: 1rem;
  justify-self: flex-end;
  margin-inline: auto 0;
  border-radius: 5rem;
  outline: none;
  border: none;

}

.toggleButton{
  background-color: #213547;
  color: whitesmoke;
}
.toggleButton:focus,.toggleButton:hover{
  transform: scale(.95);
  text-decoration: underline;
  color: whitesmoke;
  opacity: 0.7;
}
.toggleButtonAdbVisible{
  color: #213547;
  background-color: whitesmoke;

}
.name{
color: #0d151b

}